body {
    font-family: Verdana, sans-serif;
    background: right/200% url("../images/sky-blueviolet.jpg");
    background-size: cover;
    
    background-repeat: repeat;
    background-position: center;
    background-size: 1600px 1200px;
}
h1 {
    color: #431270;
    font-size: 40px;
    font-weight: 100;
    line-height: 46px;
    margin-bottom: 10px;
}
li {
    color: #431270;
    list-style: none;
    font-size: 18px;
    margin: 0;
    padding: 0;
    font-weight: 100;
    line-height: 1.5;
}
li::first-letter {
    text-transform: capitalize;
}
ul {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
h4 {
    color: #6c5b7c;
}
.container {
display: block;   
margin-left: 0;        
}
.weather-app-wrapper {
    margin: 10px auto; 
    width: 1100px;
}
.weather-app {
    background-color: rgb(247 213 243 / 30%);
    display: inline-block;
    padding: 10px;
    height: 500px;
    border-radius: 10px;
    margin: 10px auto;
    width: 50%;
    
}
.temperature-view strong {
    color: #431270;
    font-size: 68px;
    font-weight: 400;
    line-height: 1.5;
}
.temperature-view .units {
    position: relative;
    font-size: 20px;
    top: -34px;
}

.temperature-view .active {
    color: #431270;
    cursor: default;
}
.temperature-view .active:hover {
    color:#0d6efd;
    text-decoration: underline;
}
.icon-height {
    height: 150px;
}
.wind-image {
    max-width: 10%;
}
.humidity-image {
    max-width: 8%;
}
.weather-forecast {
    color: #6c5b7c;
    margin-top: 18px;
}
.weather-forecast-date {
    font-size: 18px;
    opacity: 0.8;
}
.weather-forecast-temperature-min {
    opacity: 0.8;
}
.weather-forecast-temperatures {
    font-size: 14px;
}
.reference {
    margin-top: 70px;  
}